@charset "utf-8";

@import url("./mobile.css") screen and (max-width: 768px);
@import url("./browser.css") screen and (min-width: 769px);

/*
 * 日本語綺麗に見せる用
 */
body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

h1, h2, h3, h4, p, li, a, span {
  line-height: 1.5;
  letter-spacing: .075rem;
  font-weight: normal;
  font-feature-settings: "palt";
}
/*
 * common layout
 */
body {
  height: 100vh;
}

/*
 * .container 内調整
 */

nav, section {
  width: 100%;
  padding: 1rem;
}

.text-panel {
  color: #eee;
  font-weight: bold;
  background: springgreen;
}

/*
 * nav 内調整
 */

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-wrap {
  text-align: center;
  padding: 2rem 0 1rem 0;

}

.title-wrap h1 {
  font-weight: bold;
  transform: scale(1, 2);
  padding: .4rem 0;
}

.title-wrap span {
  padding: 1rem;
}


.navigation ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav li {
  list-style: none;
  width: 32%;
  margin: .4rem 0 0;
  text-align: center;


}

nav a {
  font-weight: bold;
  color: #eee;
  display: block;
  padding: .4rem 0;
}

/*
 * section 内調整
 */



section span {
  display: block;
  font-size: 2rem;
}




/* 検証用 & 画像設置用 */

body {
  background: dimgray;
}
.navigation {
  background: url(../img/nav_adorable-angry-animal-animal-portrait-208984.jpg);
}

.navigation::before {
  content: '';
  position: absolute;
  background: inherit;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: hue-rotate(72deg);
}


  /* filter: hue-rotate(90deg); */




.intro {
  background: moccasin;
}

.episode {
  background: salmon;
}

.chracter {
  background: skyblue;
}

.set-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  z-index: 0;
}

